@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #2E3944;
  --foreground: #ABAFB4;
  --secondary: #212A31;
  --light-foreground: #424C56;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}