@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #3C3D37;
  --foreground: #697565;
  --secondary: #1E201E;
  --light-foreground: #566053;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}